{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет!</h1>
<p>Меня зовут Александр Киселев, я начинающий Python разработчик, а сервис Yatube, который вы, возможно, сейчас используете, это мой первый серьезный проект.</p> 
<p>Если код этого веб-приложения впечатлил вас настолько, что вы хотите предложить мне работу, то для связи со мной нажмите на значок телеграма снизу.</p>
<a href="https://t.me/kiselaw">
  <img src={% static 'img/telegram.png' %} width="55" height="55">
</a> 
{% endblock %} 