{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML (вру)
      </li>
      <li class="list-group-item">
        CSS (наглая ложь)
      </li>
      <li class="list-group-item">
        Java -> Kotlin (желаемое будущее)
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Что-то достаточно интересное...</p>
  </article>
</div>
{% endblock %} 